<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
{% with currentClass="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" %}
    {% with defaultClass="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" %}
        <a
            href="{% url url %}"
            {% if request.resolver_match.url_name == url %}
            class="{{ currentClass }}"
            aria-current="page"
            {% else %}
            class="{{ defaultClass }}"
            {% endif %}
        >{{ text }}</a>
    {% endwith %}
{% endwith %}
