{% extends '_base.html' %}
{% load static socialaccount %}

{% block title %}Home Page{% endblock %}

{% block navbar %}
    {% with selected="tournaments" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {% get_social_accounts user as accounts %}
    {% endif %}
    <div>
        <b>Menu:</b>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url "profile" %}">My profile</a></li>
            {% else %}
                <li><a href="{% url "account_login" %}">Sign In</a></li>
            {% endif %}
        </ul>
    </div>
    <div>
        {% if user.is_authenticated %}
            <p>Logged in</p>
            {% if not accounts %}
                <a href="{% provider_login_url 'google' process="connect" %}">Connect Google account</a>
            {% else %}
                <p>You are signed in with Google</p>
                <a href="{% url 'account_logout' %}">Sign out</a>
            {% endif %}
        {% else %}
            <a href="{% provider_login_url 'google' process="login" %}">Sign in with Google</a>
        {% endif %}
    </div>
{% endblock %}
